
h2{
	font-size: 2rm;
}
h2:hover{
	color: red;
}
.ket{
	color: gray;
}
.judul{
	font-size: 18px;
	font-weight: bold;
}
.produk-foto:hover{
	transform: scale(1.5);
}
.produk:hover{
	background: #e4e4e4;
}

.promo{
	margin-left: 10px;
	padding: 3px;
	background-color: red;
	color: white;
	font-size: 12px;
}
s{
	color: gray;
	margin-left: 10px;
}

/* Andika CSS */

.galery-table {
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.container-content {
	text-align: center;
}

.event-img {
	display: block;
	margin: auto;
	width: 180px;
}

.event-img:hover {
	transform: scale(1.2);
}

.galery-img {
	display: block;
	margin: auto;
	max-width: 280px;
}

.galery-img:hover {
	transform: scale(1.5);
	border-radius: 5px;
}

.galery-title {
	font-size: 16px;
	font-weight: bold;
}

.galery-subtitle {
	color: gray;
}