body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
/*  */
header {
	background-color: #333;
	color: #fff;
}

.banner {
	position: relative;
}

.banner img {
	display:block;
	width: 100%;
    opacity: 60%;
}

.banner-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
}

.banner-text h1 {
	font-size: 45px;
	margin-bottom: 20px;
}

main {
	margin: 20px;
}

.content {
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
	font-size: 24px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 30px;
	text-align: justify;
}

img{
    width: 100%;
}

footer {
	background-color: #c83232;
	color: #fff;
	padding: 5px;
	text-align: center;
}
